@model dynamic

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Ola @Model.Name,
    Parece que você esqueceu sua senha e solicitou uma recuperação de senha.
    Se foi mesmo você, clique no link abaixo para redefinir sua senha.

    @*<a href="@Model.ResetPasswordUrl">Redefinir sua senha</a>*@
</body>
</html>