@model dynamic

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Ola @Model.FirstName,
    Agora voce pode usar os serviços da CadastroProdutos.

</body>
</html>